{% for item in basket %}
    <div class="basket_record">
        <img src="/media/{{ item.product.image }}" alt="">
        <span class="category_name">{{ item.product.category.name }}</span>
        <span class="product_name">{{ item.product.name }}</span>
        <span class="product_price">{{ item.product.price }}</span>
        <input name="quantity" value="{{ item.quantity }}" min="0" type="number" />
        <span class="product_cost">{{ item.product_cost }}</span>
        <a href="{% url 'basket:remove' item.pk %}" class="btn btn-round btn-danger">X</a>
    </div>
{% endfor %}

{% if basket %}
    <div class="basket_summary">
        В корзине {{ basket.0.total_quantity }} товаров, общей стоимостью {{ basket.0.total_cost }} руб.
    </div>
{% else %}
    <div class="basket_summary">
        В корзине пока пусто :(
    </div>
{% endif %}
